{% extends 'base.html' %}

{% block content %}
<h1>About page</h1>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident nostrum vero 
    odio sit hic repudiandae eos vitae nesciunt iusto numquam enim inventore molestiae
     repellat est assumenda totam beatae, aut nihil molestias voluptatem natus asperiores 
     animi quas. Omnis eos expedita repellendus eum velit soluta, aut voluptates! 
     Itaque quos ducimus eaque, laborum provident quia delectus sequi temporibus 
     commodi, nisi distinctio earum nesciunt doloribus. Totam, suscipit eaque perspiciatis 
     tempora sit dicta, ab, eius illum voluptate ad quas. Consequatur praesentium expedita 
     numquam sequi ipsa ut unde velit saepe autem ea hic harum vitae placeat, voluptatem 
     repellendus. Iusto adipisci dolorum praesentium beatae, delectus tempore vitae!</p>

{% endblock  %}