{% extends 'base.html' %}

{% block content %}
<h1>Home page</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum neque obcaecati quis, 
commodi nostrum dicta dolor magni in voluptatum natus dolores ducimus qui aperiam ab 
iste dolore iure ex itaque repellat quos eveniet illum. Asperiores, doloremque! 
Voluptate omnis quas, quod quia, autem corrupti excepturi reiciendis, animi distinctio 
adipisci voluptatum eum deleniti! Cupiditate id dolores minus dignissimos aliquid quaerat 
inventore perferendis dolorum vitae voluptate sapiente sit nisi totam labore voluptates
 porro iusto, illo et animi! Eligendi nemo aliquam ea expedita tempore neque unde 
 necessitatibus. Impedit recusandae quod officiis totam repellendus eveniet vero, id 
 praesentium enim consectetur quis voluptates pariatur eaque numquam.</p>

 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum neque obcaecati quis, 
commodi nostrum dicta dolor magni in voluptatum natus dolores ducimus qui aperiam ab 
iste dolore iure ex itaque repellat quos eveniet illum. Asperiores, doloremque! 
Voluptate omnis quas, quod quia, autem corrupti excepturi reiciendis, animi distinctio 
adipisci voluptatum eum deleniti! Cupiditate id dolores minus dignissimos aliquid quaerat 
inventore perferendis dolorum vitae voluptate sapiente sit nisi totam labore voluptates
 porro iusto, illo et animi! Eligendi nemo aliquam ea expedita tempore neque unde 
 necessitatibus. Impedit recusandae quod officiis totam repellendus eveniet vero, id 
 praesentium enim consectetur quis voluptates pariatur eaque numquam.</p>

{% endblock  %}